name: Build and Deploy to Pages

on:
  push:
    branches: ["master"] # Triggers on push to master
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# Sets permissions to allow the deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# Ensure the build process runs only on the latest commit
concurrency:
  cancel-in-progress: true
  group: pages

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20' # Use a modern LTS version

      - name: "Install Node Modules"
        run: npm install

      - name: "Build Site"
        run: npm run build
        # The 'dist' folder is where your static files are created

      - name: Upload Pages Artifact
        uses: actions/upload-pages-artifact@v3
        with:
          # The output directory created by 'npm run build'
          path: './dist'

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4